@import '../iconsmind/iconsmind.css';
@import 'typography.scss';
// @import "sidebar-large/sidebar-large";
// html,
// body {
//     font-size: 0.875rem;

// }
body {
    background-color: #fff;
    // background-color: #fbfbfd;
    color: #47404f;
    font-family: Nunito, sans-serif !important;
}
.z-1 {
    z-index: 1;
}

// button components
.btn {
    &.btn-sm {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

// avatar
.avatar {
    height: 36px;
    width: 36px;
    min-width: 36px;
    min-height: 36px;
}
